.slider-container {
    background-color: #363636;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    border-bottom: 2px solid #fff;

    h2 {
        background-color: #000;
        color: #fff;
        line-height: 2;
        padding: 0 40px;
        display: block;
        font-weight: 700;
        font-size: 1.9rem;
        font-family: 'Merriweather Sans', sans-serif;
    }

    .carousel {
        text-align: center;

        .slider-wrapper {
            width: 60%;
        }

        .thumb {
            height: 100%;
        }

        p {
            display: none;
        }

        .title {
            color: #fff;
            font-size: 25px;
            padding-top: 10px;
            padding-bottom: 33px;
            text-align: center;
            font-weight: 600;
            font-family: 'Merriweather Sans', sans-serif;
        }
    }
}