.slider-container {
    background-color: #292929;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

.slider-container h2 {
    background-color: black;
    color: var(--text-primary);
    line-height: 2;
    padding: 0 40px;
    display: block;
    font-weight: 500;
}

.slider-show {
    width: 50%;
    height: 20%;
    position: relative;
    margin: 3px auto;
    background-color: rgba(0,0,0,0.01);
}

.slider-show p {
    color: rgb(195, 194, 206);
    margin-top: 2%;
    margin-bottom: 4%;
    font-size: 2rem;
    font-weight: 300;
}

