.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 0 20px;
  border-bottom: 2px solid #fff;
  position: relative;
}

#navBarColor {
  background-color: #ccc;
  transition: .6s;
}

.nav h2 {
  margin: 0;
  color: #fff;
  float: left;
  font-size: 32px;
}

#heading {
  color: #000;
}

.nav .navbar-toggle {
  margin-left: 230px;
  background-color: #dbdbdb;
}

.nav .nav-link {
  cursor: pointer;
  margin-left: 50px;
  font-size: 1.4rem;
  font-family: 'Merriweather Sans', sans-serif;
  text-shadow: 0 1px 2px #000;
}

.nav .nav-link:hover {
  border-bottom: 2px solid #268BFF;
  padding-bottom: 5px;
}

#navBarColor .nav-link:hover {
  border-bottom: 2px solid #0438C6;
  padding-bottom: 5px;
}

.nav-link #MoviesLight {
  color: rgb(0, 39, 145);
}

.nav-link #MoviesLight:hover {
  color: rgb(0, 39, 145);
  border-bottom: 2px solid rgb(0, 31, 116);
  padding-bottom: 5px;
}

#Color-switcher {
  position: relative;
  margin-left: 80px;
  margin-top: -1px;
  background-color: #ffffff;
  width: 60px;
  height: 30px;
  border-radius: 20px;
}

#Color-switcher-mover {
  position: absolute;
  left: 5px;
  top: 4px;
  background-color: #000000;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  transition: .6s;
}

#Color-switcher-moved {
  position: absolute;
  background-color: #000000;
  left: 33px;
  top: 4px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  transition: .6s;
}

@media (max-width: 996px) {
  .nav .navbar-toggle{
    margin-left: 10px;
  }
  #Color-switcher{
    margin-left: 57px;
  }
}