* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact {
    position: relative;
    min-width: 100%;
    padding: 60px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background);
    background-size: cover;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h1 {
    font-size: 80px;
    font-weight: 500;
    color: var(--text-title);
}

.contact .content p {
    color: var(--text-title);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact-info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.box .icon {
    min-width: 60px;
    height: 60px;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: var(--text-title);
    flex-direction: column;
    font-weight: 300px;
}

.box .text h3 {
    font-weight: 500;
    color: var(--text-title);
}

.contact-form {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    width: 40%;
    padding: 40px;
    background-color: var(--text-primary);
    border-radius: 12px;
    display: flex;
    min-height: 50%;
}

.contact-form h2 {
    font-size: 30px;
    color: var(--text-title);
    font-weight: 500;
    margin-bottom: 30px;
}


.contact-form .form-control {
    margin-bottom: 30px;
}

.buttonBox {
    margin-top: 1.4rem;
    margin-left: -0.4rem;
}