.contact-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #2c2c2c;
    border-bottom: 2px solid #fff;

    .contact-header {
        width: 100%;
        text-align: left;
        padding-top: 3%;
        padding-left: 3%;

        h1 {
            font-size: 48px;
            font-weight: 700;
            color: #fff;
        }

        p {
            color: #a5a2a2;
            letter-spacing: 1px;
            line-height: 28px;
            font-size: 18px;
            margin-bottom: 45px;
        }
    }

    .contact {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;
        padding-left: 10px;

        .contact-info {
            align-items: center;
            padding-left: 5%;

            .box {
                position: relative;
                padding: 10px 0;
                display: flex;

                .icon {
                    min-width: 40px;
                    height: 40px;
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    font-size: 22px;
                }

                .text {
                    margin-left: 20px;
                    font-size: 16px;
                    color: #fff;
                    flex-direction: column;
                    font-weight: 300px;

                    h3 {
                        font-weight: 500;
                        color: #fff;
                    }
                }

            }
        }

        .contact-form {
            width: 70%;
            padding: 30px;
            background-color: #fff;
            margin-bottom: 50px;

            h2 {
                font-size: 30px;
                color: #fff;
                font-weight: 500;
                padding: 10px;
            }

            .form-control {
                margin-bottom: 30px;
            }

        }
    }

}