.modal-content {
  margin: 0 auto;
  padding: 5px;
  background-color: var(--background);
  width: 47.2%;
  position: relative;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.modal-header {
  margin: 0 auto;
  background-color: var(--nav-bg-color);
  width: 47.2%;
  position: relative;
}

.modal-header h4 {
  margin: 0 auto;
  padding: 0;
  color: rgb(31, 71, 104);
  font-size: 32px;
}

.close-btn {
  color: rgb(31, 71, 104);
  cursor: pointer;
  float: right;
  font-size: 32px;
  margin-right: 14px;
}

.close-btn:hover {
  color: var(--button-color);
}