.footer-main {
  color: var(--text-primary);
  background-color: var(--nav-bg-color);
  padding: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-container {
  margin-left: 10%;
}

.footer-container hr {
  margin-right: 10%;
}

.footer-container p {
  color: var(--text-primary);
}